## GAS

In [2]:
import pandas as pd
import locale

In [5]:
filename = "national-grid/ngbk_gas_billing_data_Service 1_2022-09-20_to_2023-09-07.csv"
df = pd.read_csv(filename, header=4, sep=',')
print(df.head())

start_date = df["START DATE"][0]
end_date = df["END DATE"].iloc[-1]
print(f'\nstarting from {start_date} to {end_date}')

                  TYPE  START DATE    END DATE  USAGE   UNITS     COST  NOTES
0  Natural gas billing  2022-09-20  2022-10-05   13.0  therms   $41.39    NaN
1  Natural gas billing  2022-10-06  2022-11-04   34.0  therms   $99.46    NaN
2  Natural gas billing  2022-11-05  2022-12-07  138.0  therms  $276.28    NaN
3  Natural gas billing  2022-12-08  2023-01-06  194.0  therms  $373.23    NaN
4  Natural gas billing  2023-01-07  2023-02-06  190.0  therms  $364.18    NaN

starting from 2022-09-20 to 2023-09-07

In [58]:
costs = df['COST'].apply(lambda x: locale.atof(x.strip('$')))
total_cost = costs.sum()
print("Total cost:", locale.currency(total_cost))

Total cost: $2023.64

#### HINT
must remove the last column manually

In [94]:
filename = "national-grid/unit1/acts.csv"
df = pd.read_csv(filename, sep=',', quotechar='"', engine='python')
df["Date"] = pd.to_datetime(df["Date"])
df_sorted = df.sort_values(by="Date", ascending=True)
df_sorted.head()
start_date = df_sorted["Date"].iloc[0].strftime("%Y-%m-%d")
end_date = df_sorted["Date"].iloc[-1].strftime("%Y-%m-%d")
df_sorted.head()

         Date             Activity  Amount
25 2022-09-18  PREMIUM SERVICE 1HR  $26.13
24 2022-10-05   GAS CHARGE REGULAR  $21.76
23 2022-11-06   GAS CHARGE REGULAR  $50.72
22 2022-11-06  LATE PAYMENT CHARGE   $0.72
21 2022-12-06  LATE PAYMENT CHARGE   $1.49

In [99]:
payments = df_sorted.loc[df["Activity"] == "PAYMENT", "Amount"].str.replace('$', '').astype(float)
total = -round(payments.sum(), 2)
print(f'spanning from {start_date} to {end_date} => {total}')

spanning from 2022-09-18 to 2023-10-08 => 736.64

## WATER
note: next time download payments history csv instead

In [103]:
filename = "dep-water/2022-2023.csv"
df = pd.read_csv(filename, sep=',', quotechar='"', engine='python')
df["Date Issued"] = pd.to_datetime(df["Date Issued"])
df = df.rename(columns={'Date Issued': 'Date'})
df_sorted = df.sort_values(by="Date", ascending=True)
df_sorted.head()
start_date = df_sorted["Date"].iloc[0].strftime("%Y-%m-%d")
end_date = df_sorted["Date"].iloc[-1].strftime("%Y-%m-%d")
df_sorted.head()

        Date  Opening Balance  Payments  New Charges  Amount Due
4 2022-09-20           174.05      0.00        70.69      244.74
3 2022-11-23           244.74   -244.74       167.06      167.06
2 2023-02-23           167.06   -167.06       222.74      222.74
1 2023-05-24           222.74   -222.74       300.70      300.70
0 2023-08-24           300.70   -300.70       420.93      420.93

In [105]:
payments = df_sorted["Payments"].replace('$', '').astype(float)
total = -round(payments.sum(), 2)
print(f'spanning from {start_date} to {end_date} => {total}')

spanning from 2022-09-20 to 2023-08-24 => 935.24